In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
import matplotlib.pyplot as plt

In [2]:
df= pd.read_csv("../Datasets/insurance.csv")

In [3]:
df

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
5      31  female  25.740         0     no  southeast   3756.62160
6      46  female  33.440         1     no  southeast   8240.58960
7      37  female  27.740         3     no  northwest   7281.50560
8      37    male  29.830         2     no  northeast   6406.41070
9      60  female  25.840         0     no  northwest  28923.13692
10     25    male  26.220         0     no  northeast   2721.32080
11     62  female  26.290         0    yes  southeast  27808.72510
12     23    male  34.400         0     no  southwest   1826.84300
13     56  female  39.820         0     no  southeast  11090.71780
14     27    male     NaN         0    yes  southeast  39611.75770
15     19    male  24.600         1     no  southwest   1837.23700
16     52  female  30.780         1     no  northeast  10797.33620
17     23    male  23.845         0     no  northeast   2395.17155
18     56    male  40.300         0     no  southwest  10602.38500
19     30    male  35.300         0    yes  southwest  36837.46700
20     60  female  36.005         0     no  northeast  13228.84695
21     30  female  32.400         1     no  southwest   4149.73600
22     18    male  34.100         0     no  southeast   1137.01100
23     34  female  31.920         1    yes  northeast  37701.87680
24     37    male  28.025         2     no  northwest   6203.90175
25     59  female  27.720         3     no  southeast  14001.13380
26     63  female  23.085         0     no  northeast  14451.83515
27     55  female  32.775         2     no  northwest  12268.63225
28     23    male  17.385         1     no  northwest   2775.19215
29     31    male  36.300         2    yes  southwest  38711.00000
...   ...     ...     ...       ...    ...        ...          ...
1308   25  female  30.200         0    yes  southwest  33900.65300
1309   41    male  32.200         2     no  southwest   6875.96100
1310   42    male  26.315         1     no  northwest   6940.90985
1311   33  female  26.695         0     no  northwest   4571.41305
1312   34    male  42.900         1     no  southwest   4536.25900
1313   19  female  34.700         2    yes  southwest  36397.57600
1314   30  female  23.655         3    yes  northwest  18765.87545
1315   18    male  28.310         1     no  northeast  11272.33139
1316   19  female  20.600         0     no  southwest   1731.67700
1317   18    male  53.130         0     no  southeast   1163.46270
1318   35    male  39.710         4     no  northeast  19496.71917
1319   39  female  26.315         2     no  northwest   7201.70085
1320   31    male  31.065         3     no  northwest   5425.02335
1321   62    male  26.695         0    yes  northeast  28101.33305
1322   62    male  38.830         0     no  southeast  12981.34570
1323   42  female  40.370         2    yes  southeast  43896.37630
1324   31    male  25.935         1     no  northwest   4239.89265
1325   61    male  33.535         0     no  northeast  13143.33665
1326   42  female  32.870         0     no  northeast   7050.02130
1327   51    male  30.030         1     no  southeast   9377.90470
1328   23  female  24.225         2     no  northeast  22395.74424
1329   52    male  38.600         2     no  southwest  10325.20600
1330   57  female  25.740         2     no  southeast  12629.16560
1331   23  female  33.400         0     no  southwest  10795.93733
1332   52  female  44.700         3     no  southwest  11411.68500
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [5]:
# the number of missing values for every column
missing = df.isnull().sum()
missing

age         0
sex         0
bmi         5
children    0
smoker      0
region      0
charges     0
dtype: int64

In [7]:
#fill in the missing values 
df['bmi'].fillna(df['bmi'].mean(),inplace=True)

In [9]:
df.isnull().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [10]:
df

      age     sex        bmi  children smoker     region      charges
0      19  female  27.900000         0    yes  southwest  16884.92400
1      18    male  33.770000         1     no  southeast   1725.55230
2      28    male  33.000000         3     no  southeast   4449.46200
3      33    male  22.705000         0     no  northwest  21984.47061
4      32    male  28.880000         0     no  northwest   3866.85520
5      31  female  25.740000         0     no  southeast   3756.62160
6      46  female  33.440000         1     no  southeast   8240.58960
7      37  female  27.740000         3     no  northwest   7281.50560
8      37    male  29.830000         2     no  northeast   6406.41070
9      60  female  25.840000         0     no  northwest  28923.13692
10     25    male  26.220000         0     no  northeast   2721.32080
11     62  female  26.290000         0    yes  southeast  27808.72510
12     23    male  34.400000         0     no  southwest   1826.84300
13     56  female  39.820000         0     no  southeast  11090.71780
14     27    male  30.658545         0    yes  southeast  39611.75770
15     19    male  24.600000         1     no  southwest   1837.23700
16     52  female  30.780000         1     no  northeast  10797.33620
17     23    male  23.845000         0     no  northeast   2395.17155
18     56    male  40.300000         0     no  southwest  10602.38500
19     30    male  35.300000         0    yes  southwest  36837.46700
20     60  female  36.005000         0     no  northeast  13228.84695
21     30  female  32.400000         1     no  southwest   4149.73600
22     18    male  34.100000         0     no  southeast   1137.01100
23     34  female  31.920000         1    yes  northeast  37701.87680
24     37    male  28.025000         2     no  northwest   6203.90175
25     59  female  27.720000         3     no  southeast  14001.13380
26     63  female  23.085000         0     no  northeast  14451.83515
27     55  female  32.775000         2     no  northwest  12268.63225
28     23    male  17.385000         1     no  northwest   2775.19215
29     31    male  36.300000         2    yes  southwest  38711.00000
...   ...     ...        ...       ...    ...        ...          ...
1308   25  female  30.200000         0    yes  southwest  33900.65300
1309   41    male  32.200000         2     no  southwest   6875.96100
1310   42    male  26.315000         1     no  northwest   6940.90985
1311   33  female  26.695000         0     no  northwest   4571.41305
1312   34    male  42.900000         1     no  southwest   4536.25900
1313   19  female  34.700000         2    yes  southwest  36397.57600
1314   30  female  23.655000         3    yes  northwest  18765.87545
1315   18    male  28.310000         1     no  northeast  11272.33139
1316   19  female  20.600000         0     no  southwest   1731.67700
1317   18    male  53.130000         0     no  southeast   1163.46270
1318   35    male  39.710000         4     no  northeast  19496.71917
1319   39  female  26.315000         2     no  northwest   7201.70085
1320   31    male  31.065000         3     no  northwest   5425.02335
1321   62    male  26.695000         0    yes  northeast  28101.33305
1322   62    male  38.830000         0     no  southeast  12981.34570
1323   42  female  40.370000         2    yes  southeast  43896.37630
1324   31    male  25.935000         1     no  northwest   4239.89265
1325   61    male  33.535000         0     no  northeast  13143.33665
1326   42  female  32.870000         0     no  northeast   7050.02130
1327   51    male  30.030000         1     no  southeast   9377.90470
1328   23  female  24.225000         2     no  northeast  22395.74424
1329   52    male  38.600000         2     no  southwest  10325.20600
1330   57  female  25.740000         2     no  southeast  12629.16560
1331   23  female  33.400000         0     no  southwest  10795.93733
1332   52  female  44.700000         3     no  southwest  11411.68500
1333   50    male  30.970000         3     no  northwest  10600.54830
1334   18  female  31.920000         0     no  northeast   2205.98080
1335   18  female  36.850000         0     no  southeast   1629.83350
1336   21  female  25.800000         0     no  southwest   2007.94500
1337   61  female  29.070000         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [11]:
region = df["region"]

In [24]:
region

0       southwest
1       southeast
2       southeast
3       northwest
4       northwest
5       southeast
6       southeast
7       northwest
8       northeast
9       northwest
10      northeast
11      southeast
12      southwest
13      southeast
14      southeast
15      southwest
16      northeast
17      northeast
18      southwest
19      southwest
20      northeast
21      southwest
22      southeast
23      northeast
24      northwest
25      southeast
26      northeast
27      northwest
28      northwest
29      southwest
          ...
1308    southwest
1309    southwest
1310    northwest
1311    northwest
1312    southwest
1313    southwest
1314    northwest
1315    northeast
1316    southwest
1317    southeast
1318    northeast
1319    northwest
1320    northwest
1321    northeast
1322    southeast
1323    southeast
1324    northwest
1325    northeast
1326    northeast
1327    southeast
1328    northeast
1329    southwest
1330    southeast
1331    southwest
1332    southwest
1333    northwest
1334    northeast
1335    southeast
1336    southwest
1337    northwest
Name: region, Length: 1338, dtype: object

In [13]:
region_encoded, region_categories = pd.factorize(region)

In [19]:
factor_region_mapping = dict(zip(region_categories, region_encoded)) #mapping of encoded numbers and original categories.

In [20]:
print(factor_region_mapping) # print factor mapping

{'southwest': '_northeast', 'southeast': '_northwest', 'northwest': '_southeast', 'northeast': '_southwest'}

In [25]:
region_encoded = pd.get_dummies(region, prefix='')

In [26]:
print(region_encoded[:10])

   _northeast  _northwest  _southeast  _southwest
0           0           0           0           1
1           0           0           1           0
2           0           0           1           0
3           0           1           0           0
4           0           1           0           0
5           0           0           1           0
6           0           0           1           0
7           0           1           0           0
8           1           0           0           0
9           0           1           0           0

In [27]:
sex = df.iloc[:,1:2].values

In [28]:
sex

array([['female'],
       ['male'],
       ['male'],
       ...,
       ['female'],
       ['female'],
       ['female']], dtype=object)

In [30]:
smoker = df.iloc[:,4:5].values

In [31]:
smoker

array([['yes'],
       ['no'],
       ['no'],
       ...,
       ['no'],
       ['no'],
       ['yes']], dtype=object)

In [39]:
df.iloc[:,5:6]

         region
0     southwest
1     southeast
2     southeast
3     northwest
4     northwest
5     southeast
6     southeast
7     northwest
8     northeast
9     northwest
10    northeast
11    southeast
12    southwest
13    southeast
14    southeast
15    southwest
16    northeast
17    northeast
18    southwest
19    southwest
20    northeast
21    southwest
22    southeast
23    northeast
24    northwest
25    southeast
26    northeast
27    northwest
28    northwest
29    southwest
...         ...
1308  southwest
1309  southwest
1310  northwest
1311  northwest
1312  southwest
1313  southwest
1314  northwest
1315  northeast
1316  southwest
1317  southeast
1318  northeast
1319  northwest
1320  northwest
1321  northeast
1322  southeast
1323  southeast
1324  northwest
1325  northeast
1326  northeast
1327  southeast
1328  northeast
1329  southwest
1330  southeast
1331  southwest
1332  southwest
1333  northwest
1334  northeast
1335  southeast
1336  southwest
1337  northwest

[1338 rows x 1 columns]

In [41]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
import matplotlib.pyplot as plt 

from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder

In [42]:
le = LabelEncoder()

In [43]:
sex[:,0] = le.fit_transform(sex[:,0])

In [44]:
sex = pd.DataFrame(sex)

In [45]:
sex

      0
0     0
1     1
2     1
3     1
4     1
5     0
6     0
7     0
8     1
9     0
10    1
11    0
12    1
13    0
14    1
15    1
16    0
17    1
18    1
19    1
20    0
21    0
22    1
23    0
24    1
25    0
26    0
27    0
28    1
29    1
...  ..
1308  0
1309  1
1310  1
1311  0
1312  1
1313  0
1314  0
1315  1
1316  0
1317  1
1318  1
1319  0
1320  1
1321  1
1322  1
1323  0
1324  1
1325  1
1326  0
1327  1
1328  0
1329  1
1330  0
1331  0
1332  0
1333  1
1334  0
1335  0
1336  0
1337  0

[1338 rows x 1 columns]

In [46]:
sex.columns = ['sex']

In [47]:
le_sex_mapping = dict(zip(le.classes_, le.transform(le.classes_)))
print("Sklearn label encoder results for sex:")
print(le_sex_mapping)
print(sex[:10])

Sklearn label encoder results for sex:
{'female': 0, 'male': 1}
  sex
0   0
1   1
2   1
3   1
4   1
5   0
6   0
7   0
8   1
9   0

In [48]:
le = LabelEncoder()
smoker[:,0] = le.fit_transform(smoker[:,0])
smoker = pd.DataFrame(smoker)
smoker.columns = ['smoker']
le_smoker_mapping = dict(zip(le.classes_, le.transform(le.classes_)))
print("Sklearn label encoder results for smoker:")
print(le_smoker_mapping)
print(smoker[:10])

Sklearn label encoder results for smoker:
{'no': 0, 'yes': 1}
  smoker
0      1
1      0
2      0
3      0
4      0
5      0
6      0
7      0
8      0
9      0

In [50]:
region = df.iloc[:,5:6].values #ndarray

In [51]:
region

array([['southwest'],
       ['southeast'],
       ['southeast'],
       ...,
       ['southeast'],
       ['southwest'],
       ['northwest']], dtype=object)

In [52]:
ohe = OneHotEncoder()

In [53]:
region = ohe.fit_transform(region).toarray()

In [54]:
region

array([[0., 0., 0., 1.],
       [0., 0., 1., 0.],
       [0., 0., 1., 0.],
       ...,
       [0., 0., 1., 0.],
       [0., 0., 0., 1.],
       [0., 1., 0., 0.]])

In [55]:
region = pd.DataFrame(region)

In [56]:
region

        0    1    2    3
0     0.0  0.0  0.0  1.0
1     0.0  0.0  1.0  0.0
2     0.0  0.0  1.0  0.0
3     0.0  1.0  0.0  0.0
4     0.0  1.0  0.0  0.0
5     0.0  0.0  1.0  0.0
6     0.0  0.0  1.0  0.0
7     0.0  1.0  0.0  0.0
8     1.0  0.0  0.0  0.0
9     0.0  1.0  0.0  0.0
10    1.0  0.0  0.0  0.0
11    0.0  0.0  1.0  0.0
12    0.0  0.0  0.0  1.0
13    0.0  0.0  1.0  0.0
14    0.0  0.0  1.0  0.0
15    0.0  0.0  0.0  1.0
16    1.0  0.0  0.0  0.0
17    1.0  0.0  0.0  0.0
18    0.0  0.0  0.0  1.0
19    0.0  0.0  0.0  1.0
20    1.0  0.0  0.0  0.0
21    0.0  0.0  0.0  1.0
22    0.0  0.0  1.0  0.0
23    1.0  0.0  0.0  0.0
24    0.0  1.0  0.0  0.0
25    0.0  0.0  1.0  0.0
26    1.0  0.0  0.0  0.0
27    0.0  1.0  0.0  0.0
28    0.0  1.0  0.0  0.0
29    0.0  0.0  0.0  1.0
...   ...  ...  ...  ...
1308  0.0  0.0  0.0  1.0
1309  0.0  0.0  0.0  1.0
1310  0.0  1.0  0.0  0.0
1311  0.0  1.0  0.0  0.0
1312  0.0  0.0  0.0  1.0
1313  0.0  0.0  0.0  1.0
1314  0.0  1.0  0.0  0.0
1315  1.0  0.0  0.0  0.0
1316  0.0  0.0  0.0  1.0
1317  0.0  0.0  1.0  0.0
1318  1.0  0.0  0.0  0.0
1319  0.0  1.0  0.0  0.0
1320  0.0  1.0  0.0  0.0
1321  1.0  0.0  0.0  0.0
1322  0.0  0.0  1.0  0.0
1323  0.0  0.0  1.0  0.0
1324  0.0  1.0  0.0  0.0
1325  1.0  0.0  0.0  0.0
1326  1.0  0.0  0.0  0.0
1327  0.0  0.0  1.0  0.0
1328  1.0  0.0  0.0  0.0
1329  0.0  0.0  0.0  1.0
1330  0.0  0.0  1.0  0.0
1331  0.0  0.0  0.0  1.0
1332  0.0  0.0  0.0  1.0
1333  0.0  1.0  0.0  0.0
1334  1.0  0.0  0.0  0.0
1335  0.0  0.0  1.0  0.0
1336  0.0  0.0  0.0  1.0
1337  0.0  1.0  0.0  0.0

[1338 rows x 4 columns]

In [57]:
region.columns = ['northeast', 'northwest', 'southeast', 'southwest']

In [58]:
print(region[:10])

   northeast  northwest  southeast  southwest
0        0.0        0.0        0.0        1.0
1        0.0        0.0        1.0        0.0
2        0.0        0.0        1.0        0.0
3        0.0        1.0        0.0        0.0
4        0.0        1.0        0.0        0.0
5        0.0        0.0        1.0        0.0
6        0.0        0.0        1.0        0.0
7        0.0        1.0        0.0        0.0
8        1.0        0.0        0.0        0.0
9        0.0        1.0        0.0        0.0

In [60]:
X_num = df[['age', 'bmi', 'children']].copy()

In [61]:
X_num

      age        bmi  children
0      19  27.900000         0
1      18  33.770000         1
2      28  33.000000         3
3      33  22.705000         0
4      32  28.880000         0
5      31  25.740000         0
6      46  33.440000         1
7      37  27.740000         3
8      37  29.830000         2
9      60  25.840000         0
10     25  26.220000         0
11     62  26.290000         0
12     23  34.400000         0
13     56  39.820000         0
14     27  30.658545         0
15     19  24.600000         1
16     52  30.780000         1
17     23  23.845000         0
18     56  40.300000         0
19     30  35.300000         0
20     60  36.005000         0
21     30  32.400000         1
22     18  34.100000         0
23     34  31.920000         1
24     37  28.025000         2
25     59  27.720000         3
26     63  23.085000         0
27     55  32.775000         2
28     23  17.385000         1
29     31  36.300000         2
...   ...        ...       ...
1308   25  30.200000         0
1309   41  32.200000         2
1310   42  26.315000         1
1311   33  26.695000         0
1312   34  42.900000         1
1313   19  34.700000         2
1314   30  23.655000         3
1315   18  28.310000         1
1316   19  20.600000         0
1317   18  53.130000         0
1318   35  39.710000         4
1319   39  26.315000         2
1320   31  31.065000         3
1321   62  26.695000         0
1322   62  38.830000         0
1323   42  40.370000         2
1324   31  25.935000         1
1325   61  33.535000         0
1326   42  32.870000         0
1327   51  30.030000         1
1328   23  24.225000         2
1329   52  38.600000         2
1330   57  25.740000         2
1331   23  33.400000         0
1332   52  44.700000         3
1333   50  30.970000         3
1334   18  31.920000         0
1335   18  36.850000         0
1336   21  25.800000         0
1337   61  29.070000         0

[1338 rows x 3 columns]

In [63]:
X_final = pd.concat([X_num, region, sex, smoker], axis = 1)

In [64]:
X_final

,age,bmi,children,northeast,northwest,southeast,southwest,sex,smoker
0,19,27.900000,0,0.0,0.0,0.0,1.0,0,1
1,18,33.770000,1,0.0,0.0,1.0,0.0,1,0
2,28,33.000000,3,0.0,0.0,1.0,0.0,1,0
3,33,22.705000,0,0.0,1.0,0.0,0.0,1,0
4,32,28.880000,0,0.0,1.0,0.0,0.0,1,0
5,31,25.740000,0,0.0,0.0,1.0,0.0,0,0
6,46,33.440000,1,0.0,0.0,1.0,0.0,0,0
7,37,27.740000,3,0.0,1.0,0.0,0.0,0,0
8,37,29.830000,2,1.0,0.0,0.0,0.0,1,0
9,60,25.840000,0,0.0,1.0,0.0,0.0,0,0
10,25,26.220000,0,1.0,0.0,0.0,0.0,1,0
11,62,26.290000,0,0.0,0.0,1.0,0.0,0,1
12,23,34.400000,0,0.0,0.0,0.0,1.0,1,0
13,56,39.820000,0,0.0,0.0,1.0,0.0,0,0
14,27,30.658545,0,0.0,0.0,1.0,0.0,1,1
15,19,24.600000,1,0.0,0.0,0.0,1.0,1,0
16,52,30.780000,1,1.0,0.0,0.0,0.0,0,0
17,23,23.845000,0,1.0,0.0,0.0,0.0,1,0
18,56,40.300000,0,0.0,0.0,0.0,1.0,1,0
19,30,35.300000,0,0.0,0.0,0.0,1.0,1,1
20,60,36.005000,0,1.0,0.0,0.0,0.0,0,0
21,30,32.400000,1,0.0,0.0,0.0,1.0,0,0
22,18,34.100000,0,0.0,0.0,1.0,0.0,1,0
23,34,31.920000,1,1.0,0.0,0.0,0.0,0,1
24,37,28.025000,2,0.0,1.0,0.0,0.0,1,0
25,59,27.720000,3,0.0,0.0,1.0,0.0,0,0
26,63,23.085000,0,1.0,0.0,0.0,0.0,0,0
27,55,32.775000,2,0.0,1.0,0.0,0.0,0,0
28,23,17.385000,1,0.0,1.0,0.0,0.0,1,0
29,31,36.300000,2,0.0,0.0,0.0,1.0,1,1
...,...,...,...,...,...,...,...,...,...
1308,25,30.200000,0,0.0,0.0,0.0,1.0,0,1
1309,41,32.200000,2,0.0,0.0,0.0,1.0,1,0
1310,42,26.315000,1,0.0,1.0,0.0,0.0,1,0
1311,33,26.695000,0,0.0,1.0,0.0,0.0,0,0
1312,34,42.900000,1,0.0,0.0,0.0,1.0,1,0
1313,19,34.700000,2,0.0,0.0,0.0,1.0,0,1
1314,30,23.655000,3,0.0,1.0,0.0,0.0,0,1
1315,18,28.310000,1,1.0,0.0,0.0,0.0,1,0
1316,19,20.600000,0,0.0,0.0,0.0,1.0,0,0
1317,18,53.130000,0,0.0,0.0,1.0,0.0,1,0
1318,35,39.710000,4,1.0,0.0,0.0,0.0,1,0
1319,39,26.315000,2,0.0,1.0,0.0,0.0,0,0
1320,31,31.065000,3,0.0,1.0,0.0,0.0,1,0
1321,62,26.695000,0,1.0,0.0,0.0,0.0,1,1
1322,62,38.830000,0,0.0,0.0,1.0,0.0,1,0
1323,42,40.370000,2,0.0,0.0,1.0,0.0,0,1
1324,31,25.935000,1,0.0,1.0,0.0,0.0,1,0
1325,61,33.535000,0,1.0,0.0,0.0,0.0,1,0
1326,42,32.870000,0,1.0,0.0,0.0,0.0,0,0
1327,51,30.030000,1,0.0,0.0,1.0,0.0,1,0
1328,23,24.225000,2,1.0,0.0,0.0,0.0,0,0
1329,52,38.600000,2,0.0,0.0,0.0,1.0,1,0
1330,57,25.740000,2,0.0,0.0,1.0,0.0,0,0
1331,23,33.400000,0,0.0,0.0,0.0,1.0,0,0
1332,52,44.700000,3,0.0,0.0,0.0,1.0,0,0
1333,50,30.970000,3,0.0,1.0,0.0,0.0,1,0
1334,18,31.920000,0,1.0,0.0,0.0,0.0,0,0
1335,18,36.850000,0,0.0,0.0,1.0,0.0,0,0
1336,21,25.800000,0,0.0,0.0,0.0,1.0,0,0
1337,61,29.070000,0,0.0,1.0,0.0,0.0,0,1

In [66]:
y_final = df[['charges']].copy()

In [67]:
y_final.head()

       charges
0  16884.92400
1   1725.55230
2   4449.46200
3  21984.47061
4   3866.85520

In [73]:
X_train, X_test, y_train, y_test = train_test_split(X_final, y_final, test_size = 0.33, random_state = 0 )

In [69]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
import matplotlib.pyplot as plt 

from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder

In [70]:
s_scaler = StandardScaler()
X_train = s_scaler.fit_transform(X_train.astype(np.float))
X_test= s_scaler.transform(X_test.astype(np.float))

In [72]:
X_test

array([[ 0.89345423, -0.08075516, -0.07800765, ...,  1.70166159,
         1.01348375, -0.4996512 ],
       [ 0.53613634, -0.21546103, -0.07800765, ..., -0.58766091,
        -0.98669564, -0.4996512 ],
       [ 0.60759992,  1.60144516,  0.7540739 , ..., -0.58766091,
         1.01348375,  2.00139616],
       ...,
       [ 0.03589131,  0.3371576 , -0.07800765, ..., -0.58766091,
         1.01348375,  2.00139616],
       [-1.03606235, -0.63256231,  1.58615545, ...,  1.70166159,
         1.01348375, -0.4996512 ],
       [-1.39338023, -0.62607047, -0.07800765, ..., -0.58766091,
        -0.98669564,  2.00139616]])

In [74]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
import matplotlib.pyplot as plt 
import seaborn as sns

from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder

from sklearn.linear_model import LinearRegression

In [75]:
lr = LinearRegression().fit(X_train,y_train)
y_train_pred = lr.predict(X_train)
y_test_pred = lr.predict(X_test)

In [78]:
y_test_pred

array([[11250.45565831],
       [ 9772.1764001 ],
       [37517.59609178],
       [15800.49767117],
       [ 6809.7386304 ],
       [ 4023.34585365],
       [ 1545.24677548],
       [14313.56589628],
       [ 8975.24515408],
       [ 7346.00147895],
       [ 5005.20986428],
       [10259.37020272],
       [ 8912.7073527 ],
       [ 3980.47516499],
       [27126.378267  ],
       [11263.55300014],
       [11053.23753422],
       [ 6049.71183332],
       [ 8032.57494026],
       [26655.28107485],
       [33260.50763051],
       [14239.5112725 ],
       [11807.2349422 ],
       [32016.39916737],
       [ 4062.09002768],
       [ 9150.39848131],
       [ 1254.37523746],
       [10218.48379218],
       [ 3918.94152044],
       [10239.88301993],
       [ 9008.04889011],
       [39834.54746558],
       [15588.64603034],
       [13743.65401918],
       [24535.54537152],
       [ 5168.90883518],
       [12783.50726365],
       [30299.51308599],
       [33047.89093962],
       [ 3490.52765874],
       [ 4145.25750512],
       [ 4014.10028886],
       [30211.80012338],
       [38955.30738279],
       [27384.48489633],
       [ 4810.24964501],
       [11158.21000225],
       [ 7578.20627393],
       [ 3808.67207181],
       [10641.67394491],
       [ 5569.63800633],
       [ 3326.23110198],
       [32798.25464525],
       [38456.44793905],
       [16074.0179951 ],
       [ 6957.5361    ],
       [ 5624.84495462],
       [ 9130.3100105 ],
       [ 9619.23551684],
       [11603.53968715],
       [ 1673.99221257],
       [38600.78454236],
       [15344.68989676],
       [11953.10237454],
       [14399.59642823],
       [14049.31080268],
       [25447.52700743],
       [31693.53756503],
       [ 1200.44434054],
       [10166.74146212],
       [12481.90886869],
       [11816.68200416],
       [24772.21808594],
       [15753.80861595],
       [11051.36740603],
       [12817.9043081 ],
       [ 6624.24607388],
       [ 9877.71267604],
       [30060.25609212],
       [38814.92044963],
       [12176.1025597 ],
       [36844.45277917],
       [ 3697.5913208 ],
       [ 9437.38576772],
       [34527.4835228 ],
       [28853.13611048],
       [ 8499.80269005],
       [ 4400.0450983 ],
       [12201.62829342],
       [29916.08757549],
       [10279.45867353],
       [11381.41709677],
       [ 8149.8269641 ],
       [ 9312.85792747],
       [ 8268.98788987],
       [ 7389.61950954],
       [35720.6305278 ],
       [33014.80351331],
       [ 7430.67550326],
       [14960.32762074],
       [ 3934.84235312],
       [ 8419.90151672],
       [ 6560.0618268 ],
       [31185.04138168],
       [32601.78246226],
       [ 1685.23552912],
       [ 9150.50167643],
       [ 6189.88754972],
       [14545.87954384],
       [36888.33409227],
       [10329.41156591],
       [10570.6358084 ],
       [10040.17648829],
       [26470.8472661 ],
       [39632.55649051],
       [ 8712.3307617 ],
       [  344.52227147],
       [ 9032.937196  ],
       [15266.15186844],
       [ 9532.89443001],
       [35140.61838789],
       [ 7159.72665841],
       [16929.98268771],
       [ 9763.30883298],
       [ 8405.58644332],
       [ 2909.62161465],
       [32832.31202309],
       [31099.9274334 ],
       [39154.80465296],
       [ 4954.88206366],
       [ 9685.90593044],
       [ 3576.35224314],
       [ 7862.45853233],
       [ 8760.10174793],
       [31332.33499756],
       [29515.63208718],
       [29613.92568379],
       [ 9238.44887673],
       [32540.61625816],
       [ 2990.60273088],
       [ 3208.02723842],
       [10819.59812143],
       [13349.85122098],
       [12842.66728638],
       [ 5172.54023898],
       [15731.90393928],
       [15162.72783352],
       [ 2295.66815931],
       [ -384.97421765],
       [11057.86631939],
       [ 7579.00876126],
       [27650.02299374],
       [12464.30941348],
       [ 2382.4649337 ],
       [ 5955.72658508],
       [ 8099.56384003],
       [ 4005.28535738],
       [ 2171.77893792],
       [11416.19264654],
       [12489.04958065],
       [ 7439.6521381 ],
       [16388.89202979],
       [11627.56168238],
       [14024.04712838],
       [ 3321.49966945],
       [ 7546.51049791],
       [22814.67726493],
       [ 7897.62767105],
       [ 5555.52689705],
       [ 5046.44630032],
       [ 6426.83170851],
       [ 5359.12511141],
       [ 9871.62299572],
       [ 5247.2823164 ],
       [ 5907.7324755 ],
       [ 7005.2142599 ],
       [ 3933.80242783],
       [ 5375.85363723],
       [38134.64279318],
       [ 1395.48683095],
       [12536.29901504],
       [ 8839.40935608],
       [13369.46106465],
       [ 5322.0256169 ],
       [ 5457.5363195 ],
       [36260.00780753],
       [ 4220.76162655],
       [ 2097.2134765 ],
       [14938.05271069],
       [12919.28567311],
       [34789.49278049],
       [ 5058.84054441],
       [ 5822.75263919],
       [31097.75692475],
       [ 5596.68381206],
       [ 2043.3006378 ],
       [ 8599.99540708],
       [10265.534527  ],
       [ 8099.42286831],
       [ 5456.92079492],
       [13330.44728204],
       [38261.74928089],
       [13646.91512814],
       [28825.32468479],
       [ 6489.96145908],
       [35375.84793074],
       [ 3945.24885287],
       [11937.73255668],
       [ 9286.10436579],
       [ 5975.65403116],
       [11042.80509645],
       [14670.2689168 ],
       [ 5141.77871406],
       [ 4299.47973243],
       [ 7954.43614221],
       [ 1277.16974404],
       [ 8163.46322657],
       [ 4646.35405401],
       [13489.29986158],
       [ 4686.06940266],
       [10267.91356566],
       [ 7664.93044063],
       [ 9338.23391589],
       [ 2448.53622974],
       [13269.06282366],
       [16425.89755156],
       [15252.02902701],
       [10747.21529839],
       [ 5819.00798391],
       [ 2275.77369877],
       [ 1867.2771134 ],
       [13443.71058247],
       [14191.05368902],
       [ 5353.73415807],
       [ 4061.08133777],
       [ 9590.09039463],
       [10199.43461951],
       [27812.62507051],
       [ 7732.50896217],
       [10892.3981416 ],
       [ 6333.14650474],
       [29238.66592604],
       [11243.38221816],
       [ 7626.25819566],
       [10150.86114594],
       [11973.94284376],
       [ 3151.81703175],
       [10564.68743911],
       [ 1580.528233  ],
       [ 7205.52028987],
       [28339.10324916],
       [38663.54354325],
       [ 6432.49095599],
       [ 8147.21932909],
       [ 2455.02721182],
       [  394.72835098],
       [10554.65998778],
       [ 4098.3593193 ],
       [ 4947.24705661],
       [ 2625.57408539],
       [ 7386.27754608],
       [33277.69404714],
       [37958.26462202],
       [14732.16066966],
       [ 7986.36860953],
       [16015.4523885 ],
       [32845.79782018],
       [ 9874.10864849],
       [33547.30063094],
       [ 3236.73608599],
       [30532.56216558],
       [ 8216.6641525 ],
       [14396.81323406],
       [ 3966.07668074],
       [31981.14386302],
       [ 8453.50774008],
       [11318.88422529],
       [ 9750.99782665],
       [ 3820.85154863],
       [12932.81164012],
       [11534.10591726],
       [ 7988.42570048],
       [13395.96871263],
       [ 2758.28735726],
       [10613.48034389],
       [ 5637.82343177],
       [11481.45010524],
       [31523.33795471],
       [ 9721.69470323],
       [ 1183.20472914],
       [  351.71791368],
       [39733.66137507],
       [ 9884.12045572],
       [ 6850.04733578],
       [13889.5232445 ],
       [13619.78328095],
       [26947.162898  ],
       [ 7337.62438527],
       [ 6943.05228574],
       [12097.46077102],
       [ 2435.34513498],
       [ 3801.93038168],
       [25092.75913707],
       [25852.99816632],
       [13282.59567587],
       [ 3238.88273608],
       [ 4986.92939235],
       [ 9676.09281811],
       [12476.27739036],
       [23345.39763984],
       [30501.3327424 ],
       [10296.20266645],
       [23461.55136101],
       [ 2494.12703588],
       [11252.50169574],
       [ 7310.66717065],
       [ 8419.69001678],
       [  299.19213936],
       [ 7840.41042565],
       [34954.51751662],
       [ 6320.2542842 ],
       [ 6367.50371859],
       [  -53.25818585],
       [10745.00020623],
       [ 6526.09715581],
       [ 9964.12411741],
       [38883.00530386],
       [27245.10368239],
       [11643.0292993 ],
       [35257.48855494],
       [15294.62569352],
       [ 6611.26551726],
       [10929.79441792],
       [ 7042.39673699],
       [36203.78173829],
       [ 5957.25529981],
       [11318.0054489 ],
       [  915.487422  ],
       [23934.58527784],
       [ 1668.83366111],
       [34527.17736072],
       [11117.71395944],
       [ 1516.59599509],
       [31923.12494349],
       [ 6965.40306749],
       [ 5368.21684798],
       [37960.61772733],
       [ 2216.66826231],
       [ 9915.88108808],
       [ 2474.53893179],
       [13306.41828212],
       [ 1285.40344053],
       [10939.5034259 ],
       [ 7082.78970884],
       [36294.34708266],
       [ 7390.98456093],
       [30124.72648777],
       [29127.51939971],
       [ 7000.83529902],
       [11226.28977427],
       [ 1555.89071319],
       [ 2366.76245661],
       [ 3625.0573563 ],
       [12437.80176549],
       [36877.59674095],
       [ 9920.26558997],
       [  486.21530509],
       [11560.00597195],
       [ 4680.07780457],
       [ 9901.93302685],
       [ 5704.67924828],
       [ 6919.5606267 ],
       [ 4173.63014762],
       [27753.31368649],
       [ 4704.34139886],
       [-1028.33324474],
       [32837.09750211],
       [12808.57833853],
       [34715.24059117],
       [10051.58709205],
       [ 7383.86157924],
       [ -319.36674559],
       [ 2267.92078754],
       [11818.75544597],
       [ 5857.70018625],
       [ 3334.4816336 ],
       [12327.21108059],
       [ 8111.74144583],
       [ 7056.62368276],
       [ 5688.36342173],
       [ 2772.01660975],
       [31814.74489569],
       [ 3165.64720553],
       [ 8802.82390572],
       [ 4519.73131087],
       [13103.29885132],
       [14736.87277673],
       [ 7236.84235297],
       [26721.68275288],
       [14049.10714974],
       [17211.41382305],
       [11719.41099472],
       [ 2151.76706637],
       [ 8252.10675891],
       [18816.49948929],
       [ 7665.35801972],
       [ 6161.33074206],
       [ 2114.24345432],
       [26417.09891835],
       [15019.6493515 ],
       [10360.09078433],
       [16037.74870349],
       [11895.99664514],
       [11330.17004588],
       [39318.65586891],
       [ 6049.17797944],
       [12359.59418607],
       [ 2925.22172755],
       [15756.4275243 ],
       [ 4364.9093654 ],
       [ 4998.10335763],
       [ 5972.84489897],
       [15161.04534671],
       [ 8719.7551111 ],
       [ 9010.14302874],
       [33960.897118  ],
       [ 6548.33608225],
       [26526.95655148],
       [27512.34931855],
       [15234.29943846],
       [ 8607.94219209],
       [33903.06863745],
       [10042.71355362],
       [ 3658.904196  ],
       [15376.10500602],
       [29533.85233618],
       [29369.77850596],
       [27939.63593427],
       [10167.15243531],
       [33052.95523516],
       [ 4272.4382867 ],
       [25257.40274864]])

In [79]:
print("lr.coef_: {}".format(lr.coef_))
print("lr.intercept_: {}".format(lr.intercept_))
print('lr train score %.3f, lr test score: %.3f' % (
lr.score(X_train,y_train),
lr.score(X_test, y_test)))

lr.coef_: [[  259.00998437   319.22120573   550.30215293   564.2141075
    -80.26025643  -245.66875106  -238.28510001   -89.10791545
  23286.12557703]]
lr.intercept_: [-12081.45307949]
lr train score 0.728, lr test score: 0.786

In [80]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
import matplotlib.pyplot as plt 

from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder

from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import PolynomialFeatures
from sklearn.svm import SVR
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor

In [82]:
forest = RandomForestRegressor(n_estimators = 100,
                              criterion = 'mse',
                              random_state = 1,
                              n_jobs = -1)
#test train split
X_train, X_test, y_train, y_test = train_test_split(X_final, y_final, test_size = 0.33, random_state = 0 )

#standard scaler (fit transform on train, fit only on test)
sc = StandardScaler()
X_train = sc.fit_transform(X_train.astype(np.float))
X_test= sc.transform(X_test.astype(np.float))

#fit model
forest.fit(X_train,y_train.values.ravel())
y_train_pred = forest.predict(X_train)
y_test_pred = forest.predict(X_test)

#print score
print('forest train score %.3f, forest test score: %.3f' % (
forest.score(X_train,y_train),
forest.score(X_test, y_test)))

forest train score 0.973, forest test score: 0.859